<% provide(:title, "ホーム") %>

<%= stylesheet_link_tag 'validationEngine.jquery' %> <!-- validationEngine.jquery.css　読み込み -->
<%= javascript_include_tag 'jquery-3.4.1.min.js' %> <!-- jquery本体 読み込み -->
<%= javascript_include_tag 'jquery.jpostal.js' %> <!-- jquery.jpostal.js 読み込み -->
<!--<%= javascript_include_tag 'jquery.validationEngine.js' %> <!-- validationEngine本体 読み込み ---->
<!--<%= javascript_include_tag 'jquery.validationEngine-ja.js' %> <!-- 日本語ファイル 読み込み ---->

<h3>このアプリは配送効率をよくするために配送ルートを作成するシステムです。</h3>

<%= link_to "ログインする", login_path, class: "btn btn-primary" %>