<% provide(:title, "ホーム") %>

<%= stylesheet_link_tag 'validationEngine.jquery' %> <!-- validationEngine.jquery.css　読み込み -->
<%= javascript_include_tag 'jquery-3.4.1.min.js' %> <!-- jquery本体 読み込み -->
<%= javascript_include_tag 'jquery.jpostal.js' %> <!-- jquery.jpostal.js 読み込み -->
<!--<%= javascript_include_tag 'jquery.validationEngine.js' %> <!-- validationEngine本体 読み込み ---->
<!--<%= javascript_include_tag 'jquery.validationEngine-ja.js' %> <!-- 日本語ファイル 読み込み ---->


<div class="jumbotron">
  <div class="container">
    <h1>配送計画システム</h1>
    <p>
      このソフトは最適な配送計画を立て、簡単な日報が作れます。
    </p>
      <%= link_to "ログイン »", login_path, class: "btn btn-primary login" %>
  </div>
</div>