


<!-- モーダル・ダイアログ -->
<div class="modal fade" id="daily-modal" tabindex="-1" role="dialog">>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">納品時間</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>行き先</th>
              <th>開始</th>
              <th>終了</th>
            </tr>
          </thead>
          
          <tbody>
            <% @articles_delivery.each do |article| %>
              <tr>
                <td>名称：<%= article.title %><br>所在地：<%= article.address %></td>
                <td>
                  <% if article.DailyReports.find_by(day: Date.today).delivery_start.nil? %>
                    <%= button_to "開始", delivery_time_user_articles_path(article_id: article.id), class: "btn btn-success" %>
                  <% else %>
                    <%= article.DailyReports.find_by(day: Date.today).delivery_start.strftime("%H時%M分") %>
                  <% end %>
                </td>
                <td>
                  <% if article.DailyReports.find_by(day: Date.today).delivery_finish.nil? %>
                    <%= button_to "終了", delivery_time_user_articles_path(article_id: article.id), class: "btn btn-primary" %>
                  <% else %>
                    <%= article.DailyReports.find_by(day: Date.today).delivery_finish.strftime("%H時%M分") %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal fade -->

