


<!-- モーダル・ダイアログ -->
<div class="modal fade" id="new-form" tabindex="-1" role="dialog">>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">新規登録</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
      <div class="modal-body">
        <%= form_for @article, url: user_articles_path, html: { role: 'form', :id => "form_1" } do |f| %>

          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control validate[required]" %>
          
          <%= f.label :postcode %>
          <%= f.text_field :postcode, class: "form-control validate[required]", id: "postcode" %>
          
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control validate[required]", id: "address" %>
          
          <%= f.label :phone_num %>
          <%= f.text_field :phone_num, class: "form-control validate[required, custom[phone]]" %>
          
          <%= f.submit "登録", class: "btn btn-success" %>
          
        <% end %>
      </div>
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal fade -->

