<% provide(:title, "拠点情報") %>

<div class="title-name">
  <h1>拠点情報</h1>
</div>

<table class="table table-striped">
  <thead>
    <th>名称：<%= @article.title %></th>
    <th>郵便番号：<%= @article.postcode %></th>
  </thead>
  <tbody>
    <tr>
      <th>所在地：<%= @article.address %></th>
      <th>電話番号：<%= @article.phone_num %></th>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit-form">
  編集
</button>
<%= render 'base_edit' %>
