<% provide(:title, "拠点情報") %>

<%= javascript_include_tag 'jquery-3.4.1.min.js' %> <!-- jquery本体 読み込み -->
<%= javascript_include_tag 'jquery.jpostal.js' %> <!-- jquery.jpostal.js 読み込み -->

<div class="title-name">
  <h1>拠点情報登録</h1>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_for @article, url: base_create_user_articles_path, id: "form_id" do |f| %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
      
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: "form-control", id: "postcode" %>
      
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control", id: "address" %>
      
      <%= f.label :phone_num %>
      <%= f.text_field :phone_num, class: "form-control" %>
      
      <%= f.submit "登録", class: "btn btn-success login" %>
      
    <% end %>
  </div>
</div>

<!-- 「起動スクリプト」 -->
<script>
$(function () {
	$('#postcode').jpostal({
		postcode : [
			'#postcode'
		],
		address : {
			'#address' : '%3%4%5'
		}
	});
});

// $(function(){
//     $("#form_id").validationEngine();
// });

</script>