<% provide(:title, "拠点情報") %>

<%= javascript_include_tag 'jquery-3.4.1.min.js' %> <!-- jquery本体 読み込み -->
<%= javascript_include_tag 'jquery.jpostal.js' %> <!-- jquery.jpostal.js 読み込み -->

<h1>拠点情報登録</h1>
<%= form_for @article, url: base_create_user_articles_path, id: "form_id", class: "new-form" do |f| %>
  
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control new-form" %>
  
  <%= f.label :postcode %>
  <%= f.text_field :postcode, class: "form-control new-form", id: "postcode" %>
  
  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control new-form", id: "address" %>
  
  <%= f.label :phone_num %>
  <%= f.text_field :phone_num, class: "form-control new-form" %>
  
  <%= f.submit "登録", class: "btn btn-success" %>
  
<% end %>

<!-- 「起動スクリプト」 -->
<script>
$(function () {
	$('#postcode').jpostal({
		postcode : [
			'#postcode'
		],
		address : {
			'#address' : '%3%4%5'
		}
	});
});

// $(function(){
//     $("#form_id").validationEngine();
// });

</script>