<% provide(:title, "拠点情報") %>

<div class="title-name">
  <h1>拠点情報</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>名称：<%= @article.title %></td>
      <td>郵便番号：<%= @article.postcode %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>所在地：<%= @article.address %></td>
      <td>電話番号：<%= @article.phone_num %></td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit-form">
  編集
</button>
<%= render 'base_edit' %>
