<% provide(:title, "顧客リスト") %>


<%= render 'csv' %><br>

<div class="main-contents">
  <div class="base-new">
    <button type="button" class="btn btn-success rounded-circle p-0" data-toggle="modal" data-target="#new-form"
                          aria-expanded="false" aria-controls="collapseExample" style="width:5rem;height:4rem;">
    新規登録
    </button>
    <%= render 'form' %>
  </div>

<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>名称</th>
      <th>郵便番号</th>
      <th>所在地</th>
      <th>電話番号</th>
      <th>編集/削除</th>
    </tr>
  </thead>
  
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.postcode %></td>
        <td><%= article.address %></td>
        <td><%= article.phone_num %></td>
        <td>
          <div class="article-edit">
            <a data-toggle="modal" data-target="#<%= article.title %>">
            編集
            </a>
            <%= render partial: 'edit_form', locals: {article: article} %><br>
            <%= link_to "削除", user_article_path(id: article, user_id: @user.id), method: :delete, data: {confirm: "削除してよろしいですか？"} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

  // 郵便番号から住所補完
  $(function () {
  	$('#postcode').jpostal({
  		postcode : [
  			'#postcode'
  		],
  		address : {
  			'#address' : '%3%4%5'
  		}
  	});
  });
  
  // jQuery-validation
  $(function(){
    jQuery("#form_1").validationEngine();
  });
  
  
</script>
