<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <%= link_to "配送計画システム", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "トップ", root_path, class: "nav-link" %>
          <span class="sr-only">(current)</span>
          <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
        </li>
        <li class="nav-item">
          <%= link_to "配送先リスト", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "配送員リスト", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>