<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <%= link_to "配送計画システム", "#", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
          <% if logged_in? %>
            <li class="nav-item active">
              <%= link_to "トップ", user_path(id: current_user.id), class: "nav-link" %>
              <span class="sr-only">(current)</span>
              <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            </li>
            <li class="nav-item">
              <% if bese_point_present? %>
                <%= link_to "拠点情報", base_info_path(current_user.id), class: "nav-link" %>
              <% else %>
                <%= link_to "拠点情報", base_new_path(current_user.id), class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "顧客リスト", user_articles_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "配送計画作成", delivery_plan_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "配送計画リスト", plan_list_path(current_user.id, first_day: Date.today), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "日報", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", login_path, class: "nav-link" %>
            </li>
          <% end %>
        <ul>
      </div>
  </nav>
</header>